# Byte-compiled / cached files
__pycache__/
*.pyc

# Virtual environment
virt/
.env/
# Git internal files (not needed, but safe)
.git/
Crawler.pem
# Logs & temp files
*.log

# IDE/Editor files
.vscode/
.idea/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
